*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f5f5f5;
}

/*  Footer */

.footer{
    background:#3aa287;
    padding:70px 120px;
    color:#ffffff;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.footer-col{
    width:23%;
}

/* Logo */
.logo{
    font-size:40px;
    font-weight:600;
    margin-bottom:25px;
}

/* Headings */
.footer-col h3{
    font-size:22px;
    font-weight:600;
    margin-bottom:25px;
}

/* Paragraph + List */
.footer-col p,
.footer-col ul li{
    font-size:16px;
    line-height:1.8;
    margin-bottom:15px;
}

.footer-col ul{
    list-style:none;
}

.footer-col ul li a{
    text-decoration:none;
    color:#ffffff;
    transition:0.3s;
}

.footer-col ul li a:hover{
    opacity:0.7;
}

/* Icons inside text */
.footer-col p i{
    margin-right:10px;
    font-size:15px;
}

/*  Social Icons  */

.social-icons{
    display:flex;
    gap:20px;
    margin-top:10px;
}

.social-icons a{
    width:fit-content;
    padding: 10px;    
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ffffff;
    color:#3aa287;
    border-radius:10px;
    font-size:20px;
    text-decoration:none;
    transition:0.3s;
}

.social-icons a:hover{
    background:#2c7d69;
    color:#ffffff;
} 


/* Tablet */
@media (max-width: 992px) {

    .footer {
        padding: 60px 60px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer-col {
        width: 45%;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .footer {
        padding: 50px 25px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer-col {
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}