* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 60px 80px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 48px;
    font-weight: 700;
    color: #1e1e1e;
}

.header h1 span {
    color: #2bb673;
}

.header p {
    margin-top: 15px;
    color: #777;
    font-size: 14px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.gallery-body {
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 220px 220px;
    gap: 25px;
}

.gallery-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



.img1 {
    grid-row: 1 / 3;
    grid-column: 1;
}

.img2 {
    grid-column: 2;
    grid-row: 1;
}

.img3 {
    grid-column: 3;
    grid-row: 1;
}

.img4 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.img5 {
    grid-column: 4;
    grid-row: 1 / 3;
}