*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root{
  --primary-color: #18c8fa; 
  --transparent-color: rgb(15 116 143 /70%);
  --grey: #ddd;
  --text-muted: #8b8b89;
  --section-padding: 1em 0em 3em;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
  margin: 0.3em auto;
  padding:1em 0.5em;
  width: 80%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.special-heading{
  text-align: center;
  width: 45%;
  margin: 1.5em auto 4em;
}

.special-heading .head{
  width:10em;
  margin: 1em auto;
}

.special-heading .head h2{
  font-size:2em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.special-heading .head .underline{
  display:flex;
  gap:0;
  align-items:center;
  width:70%;
  margin: 0 auto;
}

.special-heading .head .underline span{
  display:block;
  background-color:black;
  width:calc(50% - 0.5em);
  height:0.1em;
}

.special-heading .head .underline span:nth-child(2){
  width:1em;
  height:1em;
  border-radius: 50%;
  border:0.1em solid black;
  background-color:white;
}

.special-heading p{
  color: var(--text-muted);
  font-size: 1em;
  font-weight:400;
  line-height: 1.5em;
}

@media (max-width: 1180px){
  .special-heading{
    width:60%;
  }
}

@media (max-width: 895px){
  .special-heading{
    width:75%;
  }
}

@media (max-width: 725px){
  .special-heading{
    width:100%;
  }
}

header{
  background-color: transparent;
  position: absolute;
  width:100%;
  left:0;
  top:0;
  z-index: 1;
}

header .container{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

header .container::after{
  content:"";
  background-color: var(--grey);
  width:calc(100% - 2em); /*calc method is sensitive to spaces around the operator*/
  height:0.1em;
  position:absolute;
  bottom:0;
  left: 1em;
}

header nav .search-icon{
  position:relative;
  font-size:1.2em;
  flex-basis: 3em;
  text-align:center;
  padding:0.2em 0.1em;
}

header nav .search-icon::before{
  content: "";
  background-color: var(--grey);
  width:0.1em;
  height:100%;
  position: absolute;
  left:0;
  top:0;
}

header nav{
  flex:1;
  padding-left: 0.9em;
  /* flex-basis: calc(100% - 20em); */
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:1.3em;
}

header nav ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:1.7em;
  font-size:0.85em;
}

header img{
  width: 7em;
}

header nav a{
  display: block;
  position:relative;
}

header nav a::after{
  content: "";
  width:100%;
  height:0.1em;
  background-color: var(--primary-color);
  position:absolute;
  bottom:-3.2em;
  left:0;
  display: none;
}

header nav a.active, header nav a:hover{
  color: var(--primary-color);
}

header nav a.active::after, header nav a:hover::after{
  display: block;
  z-index: 1;
}

@media (min-width: 785px){
  header nav .condensed-nav{
    display:none;
  }
}

@media (max-width: 785px){
  header nav ul{
    display: none;
  }

  nav .condensed-nav{
    width:1.5em;
    height:1em;
    /* padding:0.1em; */
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    gap:0.3em;
  }

  nav .condensed-nav:hover span:nth-child(2){
    width:100%;
  }

  nav .condensed-nav:hover + ul, nav ul:hover{
    display:flex;
    flex-direction:column;
    gap:0.5em;
    position:absolute;
    top:100%;
    left: 0;
    padding:0.5em 0.7em;
    z-index:1;
    width:100%;
  }

  nav .condensed-nav:hover + ul a::after, nav ul:hover a::after, header nav a.active::after{
    display:none;
  }

  /* header nav ul::before{
    content: "";
    border-width:0.9em;
    border-style: solid;
    border-color: transparent transparent #bbb  transparent;
    position:absolute;
    top: -1.7em;
    right:0.1em;
  } */

  header nav ul a{
    padding:0.5em 0.3em;
  }

  header nav ul a:hover, a.active{
    border-bottom: 0.1em solid var(--primary-color);
  }

  nav .condensed-nav span{
    background-color: white;
  }

  nav .condensed-nav span:first-child{
    width:100%;
    height:0.1em;
  }

  nav .condensed-nav span:nth-child(2){
    width:80%;
    height:0.1em;
  }

  nav .condensed-nav span:last-child{
    width:100%;
    height:0.15em;
  }
}

.landing{
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 100vh;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap:12em;
  position: relative;
}

.landing .overlay, .design .overlay{
  background-color: rgb(0 0 0 /60%); 
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.landing .text{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width:50%;
  padding:0.5em;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content{
  width: 75%;
  display:flex;
  flex-direction: column;
  color: white;
  gap: 1em;
  padding:1em;
}

.landing .text .content h2, .landing .text .content p{
  font-weight: 400;
  line-height:1.5em;
}

.landing .text .content h2{
  font-size: 1.5em;
}

.landing .text .content p{
  font-size: 1em;
}

.landing .angle-icon{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey);
  font-weight: bolder;
  font-size: 1.5em;
}

.landing .fa-angle-left{
  left: 1em;
}

.landing .fa-angle-right{
  right: 1em;
}

.landing .pagination-icon{
  display: flex;
  gap:0.4em;
  padding: 1.5em 1em;
  position:absolute;
  bottom:1.2em;
  left: 50%;
  transform: translateX(-50%);
}


.landing .pagination-icon span{
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 0.1em solid var(--grey);
  background-color: transparent;
  display: block;
}

.landing .pagination-icon span:nth-child(2){
  background-color: var(--primary-color)
}

@media (max-width: 970px){
  .landing .text .content h2{
    font-size: 1.3em;
  }

  .landing .text .content p{
    font-size: 0.9em;
  }

  .landing .text .content{
    width:80%;
  }

  .landing .text{
    width: 70%;
  }
}

@media (max-width: 580px){
  .landing .text .content h2{
    font-size: 1.2em;
  }

  .landing .text .content p{
    font-size: 0.8em;
  }

  .landing .text .content{
    width:85%;
  }

  .landing .text{
    width: 80%;
  }
}

@media (max-width: 440px){
  .landing .text .content h2{
    font-size: 1.1em;
  }

  .landing .text .content p{
    font-size: 0.7em;
  }

  .landing .text .content{
    width:80%;
  }

  .landing .text{
    width: 100%;
    justify-content: center;
  }
}

.services{
  padding: var(--section-padding);
}

.services .container{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.services-content{
  width:100%;
  padding:0.5em;
}

@media (max-width: 500px){
  .services .srv{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:1em;
    padding:0.5em;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 500px){
  .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    grid-column-gap:0.5em;
    grid-row-gap: 2em;
  }
}
/*we use the grid system with big screens only because in small ones the .srv box flow outside .services-conten due to the non responsive min width*/

.services .srv{
  max-width:100%;
  display:flex;
  justify-content: space-between;
  gap:1em;
  /* padding:0.5em; */
}

.services .srv i{
  font-size: 1.5em;
  width:2em;
}

.services .srv .srv-content{
  flex:1;
}

.services .srv .srv-content h3{
  color: var(--primary-color);
  margin-bottom: 1em;
}

.services .srv .srv-content p{
  color: var(--text-muted);
  letter-spacing:0.03em;
  font-size: 1em;
  line-height: 1.4em;
}

.design{
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  width:100%;
  padding: var(--section-padding);
  position:relative;
  height: 70vh;
  overflow: hidden;
}

.design img{
  width:17em;
  position: absolute;
  bottom:-50px;
  left: 10%;
  /* z-index:-1; */
}

.design .text-content{
  background-color: var(--transparent-color);
  padding: 2em;
  color: white;
  height: 60%;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
  width: 50%;
}

.design .text-content h2{
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.design .text-content ul{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.design .text-content ul li{
  font-size: 0.8em;
  font-weight: 400;
}

.design .text-content ul li::before{
  content: "\e163";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1em;
}

.design .text-content ul i{
  margin-right: 0.6em;
}

@media(max-width: 765px){
  .design img{
    display:none;
  }

  .design .text-content{
    width:100%;
  }
}

